{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}Все новости{% endblock %}

{% block content %}
<h1>Новости и статьи</h1>

<p style="font-size: 1.em; font-weight: bold; color: #13A2FF; background: #FFFFAA; padding: 10px; border-radius: 5px;">
     Всего записей: {{ posts|length }}
</p>
<hr>

{% if posts %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title|censor }}</a>
        </h2>
        
        <p><strong>Дата:</strong> {{ post.dateCreation|date:"d.m.Y H:i" }}</p>
        <p><strong>Автор:</strong> {{ post.author.authorUser.username }}</p>
        
        <div style="background: #f9f9f9; padding: 15px; margin: 15px 0;">
            {{ post.text|censor|truncatechars:20 }}
        </div>
        
        <p><a href="{{ post.get_absolute_url }}">Читать полностью →</a></p>
        <hr>
    {% endfor %}
{% else %}
    <p>Пока нет новостей.</p>
{% endif %}
{% endblock %}
